.button {

	display: flex;
	font-size: $_fontSize;
	color: $_white;
	background: $_black;
	border: 2px solid $_white;
	box-shadow: $_shadow;
	font-family: 'Sarabun', sans-serif;
	line-height: $_lineHeight;
	padding: 0 $_gutter;
	border-radius: $_radius;
	cursor: pointer;

	span {
		margin: auto;
		line-height: normal;
		display: inline-block;
	}

	&:hover {
		background: #333;
	}

	&:active {
		background: #555;
		box-shadow: $_shadow-raised;
	}

	&:focus {
		outline: none;
	}

}
