$imgHolder-size: 200px;

.imgHolder {
	width: $imgHolder-size;
	height: $imgHolder-size;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: $_shadow;
}
