.landingPage {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	h1 {
		font-size: 25vmin;
		text-align: center;
		margin: auto auto 0;
		cursor: default;
		font-family: 'Bungee', cursive;
		text-shadow:
			-10px -10px 0 $_white,
			10px -10px 0 $_white,
			-10px 10px 0 $_white,
			10px 10px 0 $_white,
			0 0 20px $_black;
	}

	button {
		margin: $_gutter auto auto;
		width: 25%;
		height: 10vmin;
		font-size: 5vmin;
		line-height: 10vmin;
		text-transform: uppercase;
		border-width: 5px;
	}

}
