.landingPage {

	display: flex;
	flex-direction: column;

	h1 {

		font-size: 25vmin;
		text-align: center;
		margin: auto auto 0;
		cursor: default;
		font-family: 'Bungee', cursive;
		z-index: $_z-index-1;
		@include textOutlineBig;

		span {
			display: inline-block;
			@include funSway;
		}

	}

	button {
		margin: $_gutter auto auto;
		width: 25%;
		height: 10vmin;
		font-size: 5vmin;
		line-height: 10vmin;
		text-transform: uppercase;
		border-width: 5px;
		@include funPulse;
	}

	.quizIcon {

		position: absolute;
		font-size: 20vmin;
		@include textOutlineBig;

		&:nth-of-type(1) {
			top: 5%;
			left: 5%;
			@include funSpin;
		}

		&:nth-of-type(2) {
			top: 5%;
			right: 5%;
			@include funSpin(0.1s);
		}

		&:nth-of-type(3) {
			bottom: 5%;
			right: 5%;
			@include funSpin(0.2s);
		}

		&:nth-of-type(4) {
			bottom: 5%;
			left: 5%;
			@include funSpin(0.3s);
		}

	}

}
