.modal {

	width: 100%;
	height: calc(100% - (2 * #{$_gutter}));
	margin: $_gutter 0;
	border-radius: $_radius;
	box-shadow: $_shadow;
	display: flex;
	flex-direction: column;
	@include enterTop;

	&__label {
		@include textOutline;
		font-size: $_fontSize-large;
		margin: $_gutter auto;
		flex-shrink: 0;
	}

	&__content {
		height: 100%;
	}

	&--red {
		@include redStripedBackground;
	}

	&--blue {
		@include blueStripedBackground;
	}

	&--enterBottom {
		@include enterBottom;
	}

}
