.modal {

	width: 100%;
	height: 100%;
	@include enterTop;

	&__inner {

		width: 100%;
		height: calc(100% - (2 * #{$_gutter}));
		margin: $_gutter 0;
		border-radius: $_radius;
		box-shadow: $_shadow;
		display: flex;
		flex-direction: column;

		&--red {
			@include redStripedBackground;
		}

		&--blue {
			@include blueStripedBackground;
		}

	}

	&__label {
		@include textOutline;
		font-size: $_fontSize-large;
		margin: $_gutter auto;
		flex-shrink: 0;
	}

	&__content {
		height: 100%;
	}

	&-exit-active {
		@include leaveTop;
	}

	&--enterBottom {

		@include enterBottom;

		.modal-exit-active {
			@include leaveBottom;
		}

	}

	&--halfSize {
		height: calc(50% - (2 * #{$_gutter}));
	}

}
