.questionGallery {

	box-sizing: border-box;
	position: relative;

	.list {

		width: 100%;
		height: 100%;
		display: flex;

		& > li {
			display: flex;
			margin: 0;
		}

	}

	&RoundTitle {

		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;

		h2,
		h3 {
			text-align: center;
			cursor: default;
			font-family: 'Bungee', cursive;
			@include textOutlineBig;
		}

		h2 {
			font-size: 15vmin;
			margin: auto;
		}

		h3 {
			font-size: 10vmin;
			margin: $_gutter auto auto;
		}

	}

	&Item {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: $_gutter 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;

		&__questionContent {
			height: calc(50% - #{$_gutter});
			margin: 0 0 $_gutter;
			flex-shrink: 0;
			display: flex;
		}

		&__questionText {
			font-size: $_fontSize-huge;
			width: 100%;
			height: 100%;
			text-align: center;
		}

		.imgHolder {
			flex-shrink: 0;
			width: calc(100% / 3);
			height: 100%;
			margin: auto $_gutter auto $_gutter-small;
		}

	}

	&AnswersDisplay {

		height: 100%;
		position: relative;

		& > .list {

			flex-wrap: wrap;

			li {

				width: 50%;
				height: 50%;
				padding: $_gutter-small;
				box-sizing: border-box;
				opacity: 0;
				transform: scale(0.8);

				.questionGalleryAnswersDisplayItem {
					background-color: #dd95de;
				}

				&:nth-child(2) .questionGalleryAnswersDisplayItem {
					background-color: #9eff92;
				}

				&:nth-child(3) .questionGalleryAnswersDisplayItem {
					background-color: #9abeea;
				}

				&:nth-child(4) .questionGalleryAnswersDisplayItem {
					background-color: #e0a160;
				}

			}

		}

		&Item {

			width: 100%;
			height: 100%;
			box-shadow: $_shadow;
			border-radius: $_radius;
			display: flex;
			padding: $_gutter;
			box-sizing: border-box;

			.textFitParagraph {
				margin: auto;
				font-size: $_fontSize-large;
			}

			&--isCorrect {

				transition: all 0.2s ease-in-out;
				transform: scale(1.1);
				box-shadow: $_shadow-raised;
				box-sizing: border-box;
				border: 10px solid $_black;
				overflow: hidden;

				&:after {
					@include shine;
				}

			}

		}

		&__revealButton {

			&-exit {
				opacity: 1;
			}

			&-exit-active {
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
			}

		}

		&--answerRevealed {

			.questionGalleryAnswersDisplayItem:not(.questionGalleryAnswersDisplayItem--isCorrect) {
				transition: all 0.2s ease-in-out;
				opacity: 0.5;
				transform: scale(0.8);
			}

		}

	}

	&AnswerRevealButton {

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		width: 80px;
		height: 80px;
		z-index: $_z-index-1;

		.button {

			width: 100%;
			height: 100%;
			@include funPulse;

			span:first-child {
				margin: 0;
			}

		}

		&__buttonContent {

			margin: auto;
			display: flex;
			flex-direction: column;

			.quizIcon {
				color: $_black;
				cursor: pointer;
				transform: translateX(1px);
			}

		}

	}

	&-appear,
	&-enter {
		opacity: 0;
	}

	&-appear-active,
	&-enter-active {
		opacity: 1;
		transition: opacity 0.2s ease-in-out 0.2s;
	}

	&-enter-done {

		.questionGalleryAnswersDisplay li {

			opacity: 1;
			transform: scale(1);
			transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

			&:nth-child(2) {
				transition-delay: 0.1s;
			}

			&:nth-child(3) {
				transition-delay: 0.2s;
			}

			&:nth-child(4) {
				transition-delay: 0.3s;
			}

		}

	}

	&-exit {
		opacity: 1;
	}

	&-exit-active {
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

}
