$questionManager-roundStatusHeight: ($_gutter * 2) + ($_gutter-small * 2) + $_gutter-tiny + $_lineHeight + $_lineHeight-small;
$questionManager-questionStatusItemSize: $_lineHeight;
$questionManager-questionStatusLineSize: $questionManager-questionStatusItemSize / 2;

.questionManager {

	&RoundStatus {

		position: absolute;
		left: $_gutter;
		right: $_gutter;
		height: $questionManager-roundStatusHeight;
		padding: $_gutter;
		box-sizing: border-box;
		@include blueStripedBackground;
		border-bottom-right-radius: $_radius;
		border-bottom-left-radius: $_radius;
		box-shadow: $_shadow;
		display: flex;

		&__roundStatus {
			display: flex;
			flex-direction: column;
			background-color: $_black;
			color: $_white;
			padding: $_gutter-small;
			border-radius: $_radius;
			margin: 0 $_gutter 0 0;
			flex-shrink: 0;
		}

		&__roundCounter,
		&__roundLabel  {

			display: flex;

			span {
				margin: auto;
			}

		}

		&__roundCounter {
			line-height: $_lineHeight-small;
			margin: 0 auto $_gutter-tiny;
		}

		&__roundLabel  {
			font-size: $_fontSize-medium;
			font-weight: bold;
			line-height: $_lineHeight;
		}

	}

	&QuestionStatus {

		display: flex;
		width: 100%;
		justify-content: space-between;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: $questionManager-questionStatusLineSize;
			right: $questionManager-questionStatusLineSize;
			top: $questionManager-questionStatusLineSize;
			transform: translateY(-50%);
			height: $questionManager-questionStatusLineSize;
			background-color: $_black;
			box-shadow: $_shadow;
		}

		&__statusItem {

			width: $questionManager-questionStatusItemSize;
			height: $questionManager-questionStatusItemSize;
			border-radius: 100%;
			background-color: $_black;
			margin: 0 0 auto;
			box-shadow: $_shadow;
			z-index: $_z-index-1;
			transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

			&--currentQuestion {
				background-color: $_white;
				box-shadow: $_shadow, $_shadow-inset;
			}

		}

		&__currentQuestion {

			position: absolute;
			width: $questionManager-questionStatusItemSize;
			height: 100%;
			display: flex;
			flex-direction: column;
			z-index: $_z-index-2;
			transition: left 0.3s ease-in-out;

			.quizIcon {
				width: $questionManager-questionStatusItemSize;
				height: $questionManager-questionStatusItemSize;
				line-height: $questionManager-questionStatusItemSize;
				@include gentleRock;
			}

			&Counter {
				display: flex;
				flex-direction: column;
				height: calc(100% - #{$questionManager-questionStatusItemSize});
			}

			&Count,
			&CountTotal {

				display: flex;

				span {
					margin: auto;
				}

			}

			&Count {
				font-size: $_fontSize-medium;
				font-weight: bold;
				height: calc(100% - #{$_lineHeight-small});
				line-height: $_fontSize-medium;
			}

			&CountTotal {
				font-size: $_fontSize-small;
				height: $_lineHeight-small;
				line-height: $_lineHeight-small;
			}

		}

		&--tooFewQuestions {

			&:before {
				display: none;
			}

			.questionManagerQuestionStatus__statusItem {
				display: none;
			}

		}

	}

}
