$quizStart-quizImgSize: calc(50vh - (#{$_gutter} * 4));
$quizStart-quizDisplayWithImgIconSize: 50px;

.quizStart {

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	&QuizDisplay {

		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		padding: $_gutter;
		box-sizing: border-box;

		&__img {

			margin: 0 $_gutter 0 0;
			box-shadow: $_shadow-inset;
			width: $quizStart-quizImgSize;
			height: $quizStart-quizImgSize;
			flex-shrink: 0;
			background-size: cover;
			background-color: $_blue-primary;
			display: flex;

			.quizIcon {
				margin: auto;
				font-size: 15vmin;
			}

		}

		h2 {
			font-size: 15vmin;
			@include textOutline;
			margin: auto;
			cursor: default;
		}

		&--hasImg .quizStartQuizDisplay__img .quizIcon {
			font-size: $_fontSize-large;
			margin: auto auto 0 0;
			width: $quizStart-quizDisplayWithImgIconSize;
			height: $quizStart-quizDisplayWithImgIconSize;
			background-color: $_black-semiOpaque;
			border-top-right-radius: $_radius;
		}

		.button {
			margin: auto;
			height: 100%;
		}

	}

	&TeamsDisplay {

		display: flex;
		width: 100%;
		height: 100%;

		.list {

			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			padding: $_gutter 0 0 $_gutter;
			box-sizing: border-box;

			li {
				width: calc(50% - #{$_gutter});
				margin: 0 $_gutter $_gutter 0;
				background-color: $_red-primary;
				box-shadow: $_shadow;
				border-radius: $_radius;
			}

		}

		&ListItem {

			width: 100%;
			height: 100%;
			display: flex;
			font-size: $_fontSize-large;

			&__number {
				margin: auto $_gutter;
			}

			&__name {
				margin: auto 0;
			}

		}

		&--singleTeam .list li {
			width: calc(100% - #{$_gutter});
		}

		.button {
			margin: $_gutter auto;
			height: calc(100% - (#{$_gutter} * 2));
		}

	}

	.button {
		font-size: 10vmin;
		width: 50vw;
	}

	&__startButton {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: $_z-index-1;
		display: flex;
		@include fadeInWithModal;

		&Background {
			padding: $_gutter;
			background-color: $_white-slightlyOpaque;
			margin: auto;
			border-radius: $_radius;
			box-shadow: $_shadow;
			display: flex;
		}

		.button {
			margin: auto $_gutter;
			font-size: 5vmin;
			@include funPulse;
		}

		.quizIcon {
			@include funSpin;
		}

	}

}
