.session {

	background: $_black-semiOpaque;
	transition: background 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 $_gutter;

	&--inSession {
		background: transparent;
	}

}
