@keyframes backgroundStripe {

	100% {
		background-position: 100% 100%;
	}

}

@keyframes funPulse {

	5% {
		transform: scale(1.2);
	}

	10% {
		transform: scale(0.85);
	}

	15% {
		transform: scale(1.25);
	}

	20% {
		transform: scale(0.95);
	}

	25% {
		transform: scale(1.05);
	}

	30% {
		transform: scale(1);
	}

}

@keyframes funSway {

	25% {
		transform: skewX(5deg);
	}

	75% {
		transform: skewX(-5deg);
	}

}

@keyframes funSpin {

	0% {
		transform: rotate(40deg) scale(1);
	}

	40% {
		transform: rotate(360deg) scale(0.9);
	}

	60% {
		transform: rotate(720deg) scale(0.7);
	}

	70% {
		transform: rotate(1080deg) scale(0.3);
	}

	75% {
		transform: rotate(1460deg) scale(1.05);
	}

	100% {
		transform: rotate(1480deg) scale(1);
	}

}

@keyframes enterTop {

	0% {
		opacity: 0.5;
		transform: translateY(-100%) scale(0.95);
	}

	90% {
		opacity: 0.5;
		transform: translateY(0) scale(0.95);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

}

@keyframes leaveTop {

	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	10% {
		opacity: 0.5;
		transform: translateY(0) scale(0.95);
	}

	100% {
		opacity: 0.5;
		transform: translateY(-100%) scale(0.95);
	}

}

@keyframes enterBottom {

	0% {
		opacity: 0.5;
		transform: translateY(100%) scale(0.95);
	}

	90% {
		opacity: 0.5;
		transform: translateY(0) scale(0.95);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

}

@keyframes leaveBottom {

	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	10% {
		opacity: 0.5;
		transform: translateY(0) scale(0.95);
	}

	100% {
		opacity: 0.5;
		transform: translateY(100%) scale(0.95);
	}

}

@keyframes fadeInWithModal {

	0% {
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}
