@mixin textOutline {
	text-shadow:
		-1px -1px 0 $_white,
		1px -1px 0 $_white,
		-1px 1px 0 $_white,
		1px 1px 0 $_white,
		0 0 2px $_black;
}

@mixin textOutlineBig {
	text-shadow:
		-10px -10px 0 $_white,
		10px -10px 0 $_white,
		-10px 10px 0 $_white,
		10px 10px 0 $_white,
		0 0 20px $_black;
}

@mixin backgroundStripe {
	animation: backgroundStripe 10s linear infinite alternate;
}

@mixin yellowStripedBackground {
	background: repeating-linear-gradient(
		45deg,
		$_yellow-primary,
		$_yellow-primary 5%,
		$_yellow-secondary 5%,
		$_yellow-secondary 10%
	);
}

@mixin blueStripedBackground {
	background: repeating-linear-gradient(
		45deg,
		$_blue-background-primary,
		$_blue-background-primary 5%,
		$_blue-background-secondary 5%,
		$_blue-background-secondary 10%
	);
}

@mixin redStripedBackground {
	background: repeating-linear-gradient(
		45deg,
		$_red-background-primary,
		$_red-background-primary 5%,
		$_red-background-secondary 5%,
		$_red-background-secondary 10%
	);
}

@mixin disabled {
	opacity: 0.5;
	cursor: default;
}

@mixin funPulse {
	animation: funPulse 3s linear infinite;
}

@mixin funSway {
	animation: funSway 3s linear infinite;
}

@mixin funSpin($delay: 0s) {
	animation: funSpin 3s linear infinite $delay;
}

@mixin enterTop {
	animation: enterTop 0.5s ease-in-out forwards;
}

@mixin leaveTop {
	animation: leaveTop 0.5s ease-in-out forwards;
}

@mixin enterBottom {
	animation: enterBottom 0.5s ease-in-out forwards;
}

@mixin leaveBottom {
	animation: leaveBottom 0.5s ease-in-out forwards;
}

@mixin fadeInWithModal {
	animation: fadeInWithModal 0.5s ease-in-out forwards;
}

@mixin fadeOutWithModal {
	animation: fadeOutWithModal 0.5s ease-in-out forwards;
}

@mixin gentleRock {
	animation: gentleRock 3s ease-in-out infinite;
}

@mixin oneLineEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
